<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="serverURL" value="http://localhost"/>
      <add key="postURL" value="/MDS/system/pushMessage.php"/>
      <add key="serverPort" value="88"/>
      <add key="clientID" value="1337420"/>
      <add key="clientKey" value="IhazKeylulz"/>
    </appSettings>
</configuration>